.header {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 5;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: 100%;
}

.logo,
.headNav {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo span {
  height: 100%;
  font-weight: bolder;
  font-size: 1.9em;
  /* height: 25px; */
  height: auto;
  color: #f9f4f4;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.headNav {
  
}

.navList {
  display: flex;
  justify-content: space-between;
  background-color:rgba(255, 166, 0, 0.829) ;
  border-radius: 10px;
}

.navText {
  color: rgb(255, 255, 255);
  
}

 .navText:hover {
  color: #ffffff; 
  text-decoration: underline; 
 }

.navList span {
  font-size: 1.3em;
  margin: auto 30px;
  color: #f9f4f4;
}

.sideBar {
  display: none;
}

.sideIcon {
  color: #fefefe;
}

.sideMenu .MuiPaper-root {
  background: var(--background);;
  color: #f9f4f4;
  z-index: 10;
  margin-top: 22px;
  
}

@media only screen and (max-width: 900px) {
  .logo span {
    font-size: 1.3em;
  }

  .sideBar {
    display: block;
  }

  .headerContainer {
    padding: 0 15px;
  }

  .navList {
    display: none;
  }

  .header {
    height: 60px;
  }
}
