.introCards{
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  outline: none;
}

.introCard {
  position: absolute;
  transform-origin: bottom right;
  transform: rotateZ(6deg);
  opacity: 0;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 15px 13px;
  min-width: 560px;
  width: 90%;
  max-width: 800px;
  
  min-height: 360px;
  background: #2a2a32;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s all ease-in-out;
}

.followed{
  height: 360px;
  overflow: hidden;
}

.circles {
  display: flex;
  /* padding: 15px 0 15px 13px; */
}

.navCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fefefe;
  margin: 0 4px;
}

.red {
  background: #ff8800;
}

.yellow {
  background: #56b6c2;
}

.green {
  background: #96d16b
}

.procode {
  margin-top: 20px;
  font-size: 16.5px;
  line-height: 25px;
  color: #fefefe;
}

.CodeMirror-line {
  overflow: visible;
  white-space: pre-wrap;
  word-break: normal;
  margin: 0;
}

.front{
  opacity: 1;
  transform: rotateZ(0);
  z-index: 10;
}

.followed{
  opacity: 1;
  transform-origin: bottom right;
  transform: rotateZ(5deg);
  box-shadow: none;
  z-index: 8;
}

.fall{
  transform-origin: bottom right;
  box-shadow: none;
  z-index: 12;
  animation: falldown 1.7s ease-in-out;
}

@keyframes falldown {
  0%{
    opacity: 1;
    transform: rotateX(0);
  }

  70%{
    opacity: 0.4;
  }

  90%{
    opacity: 0.2;
    transform: rotateX(-360deg) scale(0.9);
    
  }

  100%{
    opacity: 0.1;
    transform: rotateX(-360deg) scale(0);
    z-index: 1;
  }
}

@media only screen and (max-width: 1044px) {

  .introCards{
    /* display: none; */
    width: 96%;
    height: 300px;
    margin: 0;
    transform: scale(0.59);
    align-self: flex-end;
    outline: none;
  }

  .procode{
    font-size: 17px;
  }
}
@media only screen and (max-width: 550px) {

  .introCards{
    /* display: none; */
    width: 100%;
    height: 600px;
    margin: 0;
    transform: scale(0.49);
    align-self: flex-end;
    outline: none;
  }

  .procode{
    font-size: 17px;
  }
}




@media only screen and (max-width: 1044px) {
  .introCards{
    padding-right: 70px;
  }
}

.projectsHeader {
  margin:0 25% 0 25%;
  width:50%;
  padding-bottom: 50px;
  
}
.projectsHeaderText {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
  
}


